h1 {
    grid-area: title;
    justify-self: center;
    font-family: 'Comic Neue', cursive;
    font-size: 75px;
    color: white;
}
body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 430px 100px;
    grid-template-columns: 1fr 403px 1fr;
    grid-template-areas: 
    'title title title'
    'aside grid blank'
    'ftr ftr ftr';
    background-image: url(https://i.imgur.com/EB9R9yo.jpeg);
    background-size: cover;
}
 
.grid {
    grid-area: grid;
    justify-self: center;
    border: solid;
    border-color: navy;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 400px;
}
footer {
    grid-area: ftr;
    font-family: 'Comic Neue', cursive;
    font-size: 75px;
    color: white;
    justify-self: center;
    background-color: #00008b;
    border-radius: 5px;
}

aside {
    grid-area: aside;
    font-family: 'Comic Neue', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: bold;
    font-size: 23px;
    color: white;
    background-image: url(https://i.imgur.com/7rcyyU7.png);
    background-position: center;
    background-size: cover;
}
button {
    grid-area: ftr;
    margin: auto;
}

@media only screen and (min-width: 1500px) {
    aside {
        font-size: 35px;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .grid {
        height: 600px;
        width: 600px;
        justify-self: center;
    }
    img {
        height: 150px;
        width: 150px;
    }
    body{
        grid-template-rows: 1fr 630px 150px;
        grid-template-columns: 1fr 603px 1fr;
    }
}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 45px;
    }
    body {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-size: cover;
        background-position: center;
    }
    .grid {
        height: 300px;
        width: 300px;
        justify-self: center;
    }
    img {
        height: 75px;
        width: 75px;
    }
    aside {
        font-size: 16px;
    }
}
